@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DBEAFB;
}

ion-modal {
    --ion-background-color: transparent;
    --box-shadow: none ;
}

ion-progress-bar {
    --background: #e5e7eb;
    --progress-bar-background: #2563eb;
}

ion-content {
    --ion-background-color: white;
}
